

video {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 2000px;
 height: 2000px;
 z-index:-1;
}

html { overflow-y: hidden; }
html { overflow-x: hidden; }

div.box img {
    display: block;
    margin: auto;
    height: 10%;
}

div.box img {
    height: 300px;
    vertical-align: middle;
    padding: 40px 0;
}

span.kiristeam{
    height: 300px;
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
}

span.kiriyt{
    position: absolute;
    height: 200px;
    float: right;
    left: 48%;
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 20%x;
}



